
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Eat-Da-Burger</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
           
	    </head>
	<body>

        <div class="container">
            <div class="jumbotron">
                <h1>Eat Your Burger!</h1>
                    <p>Here, we eat burgers, and that's all we do. Name a burger, and go to town!</p>
            </div>
        </div>

        <div class="container">
		    {{{ body }}}
        </div>
	</body>
</html>